<a href="https://colab.research.google.com/github/annlj/MLBootcamp21_Week1_Assignment/blob/main/MLBootcamp21_Week1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ML Bootcamp 2021 - Week 1: Assignment

- Please Read the Instructions very very carefully.
- Name the variables exactly as is mentioned in the comments
- Failure to do so would result in the grader marking the values wrongly
- If the comment asks you to name the variable 'a' then name it 'a' and not 'A'
- ****Please do not remove any missing values from the dataset for the following calculations****

## Q1. Create a list of integers starting from 1 to 100,000 where each number is squared.

In [127]:
# Write your code below the comments in this cell
# Important
# Save you list in a variable called 'squared_integers'
# Example: squared_integers = [1, 4, 9, 16, 25, 36,....., 10000000000]

squared_integers = list(i**2 for i in range(1,100001))
# squared_integers [99999]

## Q2. Create a function to print the maximum of two given values

In [126]:
# Write your code below the comments in this cell
# Important
# The name of the function should be max_two_numbers
# The function SHOULD ONLY return EXACTLY 1 value which is the maximum of the two numbers
# You only need to define the function, Do Not Call the function

# Input two float numbers
a,b = float(input("Enter first number:")),float(input("Enter second number:"))

# Function to find the larger number
def max_two_numbers (x,y):
# Return the maximum number from the inputs
  return (max(x,y))

# print("The larger number is: ", max_two_numbers (a,b))

Enter first number:3.123
Enter second number:3.1229

## Q3. How many columns and rows are there in the test dataset?

In [9]:
# Write your code below the comments in this cell
# Important
# Save your row value in a variable called 'row'
# Save your columns value in a variable called 'col'

import pandas as pd

# Reading in data from the csv file
df = pd.read_csv("sample_data/test.csv")

# The size of the dataset

row = df.shape[0]
col = df.shape[1]
row,col

(418, 11)

## Q4. What is the youngest and oldest Age recorded on the ship (Train dataset)?

In [10]:
# Write your code below the comments in this cell
# Important
# Save your youngest Age value in a variable called 'age_youngest'
# Save your oldest Age value in a variable called 'age_oldest'

# Reading in data from the csv file
df = pd.read_csv("sample_data/train.csv")

# The youngest and oldest Age recorded on the ship
age_youngest = df['Age'].min()
age_oldest = df['Age'].max()

print(f"The youngest passenger age is {age_youngest}, the youngest passenger age is {age_oldest}.")

The youngest passenger age is 0.42, the youngest passenger age is 80.0.

## Q5. What are the proportions of male and female passengers (Train dataset)?

In [140]:
# Write your code below the comments in this cell
# Important
# Save the integer number for female passengers in a variable called 'female_count'
# Save the integer number for male passengers in a variable called 'male_count'

# Count of male and female passengers
df1 = df['Sex'].value_counts()
counts = list(df['Sex'].value_counts())
total = int(df['Sex'].count())
# Save counts to the variables
male_count , female_count = counts[0], counts[1]

# Proportions of male and female passengers
proportions = []

for number in counts:
  proportion = number/total*100
  proportions.append(proportion)

df1
df1['count'] = counts
df1['Proportion'] = proportions
df1

male                                             577
female                                           314
count                                     [577, 314]
Proportion    [64.75869809203144, 35.24130190796858]
Name: Sex, dtype: object

## Q6. What is the average ticket price per Passenger Ticket Class(Train dataset) ?

In [155]:
# Write your code below the comments in this cell
# Important
# Save the value for each ticket class as a variable called "p_classnumber_avg_fare" (Eg: p_1_avg_fare)
# Once you get your final answers, use the function "round(answer,2)" exactly as is to round the answer to two decimal places.
# Inside the round() function make sure to put the value with all its decimal places, then round() will properly round it down two 2 decimal places


grouped_df = df.groupby('Pclass')['Fare'].mean().reset_index(name = 'average price')
p_classnumber = grouped_df['Pclass']
p_classnumber_avg_fare = []
p_classnumber_avg_fare = grouped_df['average price']

grouped_df['rounded price'] = round(p_classnumber_avg_fare,2)
grouped_df

   Pclass  average price  rounded price
0       1      84.154687          84.15
1       2      20.662183          20.66
2       3      13.675550          13.68

## Q7. Explore the 'Names' feature and find out how many titles are present? A title stands for 'Mr', 'Miss', 'Dr' etc. appended before any person's name (Train dataset). 
- Hint: Check the "Strings" part of the tutorial notebook

In [99]:
# Write your code below the comments in this cell
# Important
# Your output should be a dictionary called 'title_count'
# Each key of the dictionary is the name of the title as is, Eg: Mr, Miss, Mrs, etc.
# Value of each key is the number of times that that particular title has occurred
# Example output
# {'Mr':5,'Capt':20,'Miss':12 and so on}

import re
from collections import Counter
count = []
for i in df['Name'].apply(lambda x: re.findall(' ([A-Z][a-z]+)\.', x)):
  count.append(i[0])
title_count = dict(Counter(count))
print(title_count)

{'Mr': 517, 'Mrs': 125, 'Miss': 182, 'Master': 40, 'Don': 1, 'Rev': 6, 'Dr': 7, 'Mme': 1, 'Ms': 1, 'Major': 2, 'Lady': 1, 'Sir': 1, 'Mlle': 2, 'Col': 2, 'Capt': 1, 'Countess': 1, 'Jonkheer': 1}